.app_OrderPage_Info {
  padding: 30px 0;
  .app_OrderPage_Icon {
    border-radius: 100px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }
}
